.jumbotron {
  padding-top: 6rem;
  background-color: #707070;
}

#galery {
  background-color: #707070;
}
section {
  padding-top: 5rem;
}
.sosmed img {
  width: 33px;
  margin-right: 1rem;
  margin-left: 1rem;
}
.sosmed {
  margin-top: 3rem;
}
.up {
  margin-right: 5px;
}
